<%- include("header") -%>
<%- include("nav") -%>
    <section class="dashboardsection">
        <div class="dashheader">
            <h3>My Listing</h3>
        </div>
        <div class="dashcontent">
            <div class="dashgrid">
                <div class="dashcontentcard">
                    <h4>Sale <span><img src="/icon/deal.svg" alt="deal logo"></span></h4>
                    <div class="mainsalegrid">
                        <% leasesaleobj.saleproperty.forEach(function(username){ %>
                        <div class="salegrid">
                            <p class="grid0"><img src='/uploads/<%=username.propertyimage%>' onerror="this.onerror=null; this.src='/image/default1.jfif'" alt="image upload"></p>
                            <p><span class="spanstyle">Name: </span><%=username.personname%></p>
                            <p><span class="spanstyle">Phone number: </span><%=username.personnumber%></p>
                            <p><span class="spanstyle">Property Type: </span><%=username.typeproperty%></p>
                            <p><span class="spanstyle">Property Name: </span><%=username.propertyname%></p>
                            <p><span class="spanstyle">Property Address: </span><%=username.propertynumber%>,
                                <%=username.propertyfloor%> floor,
                                <%=username.propertyname%>,
                                <%=username.propertyarea%>,
                                <%=username.propertycity%>,
                                <%=username.propertystate%>,
                                <%=username.propertypincode%>.
                            </p>
                            <p><span class="spanstyle">Budget: </span><%=username.propertybudget%> Lakhs.</p>
                            <p><span class="spanstyle">Rera Approved: </span><%=username.propertyreraapproved%></p>
                            <p><span class="spanstyle">Rera Number: </span><%=username.propertyreranumber%></p>
                            <p><span class="spanstyle">Negotaiation: </span><%=username.propertynegotiation%></p>
                            <p><span class="spanstyle">Property Age: </span><%=username.propertyage%></p> 
                            <p><span class="spanstyle">Negotaiation: </span><%=username.propertynegotiation%></p> 
                            <p><span class="spanstyle">Number Of Rooms: </span><%=username.propertynumberrooms%></p> 
                            <p><span class="spanstyle">Number Of Bathrooms: </span><%=username.propertynumberbathrooms%></p> 
                            <p><span class="spanstyle">Property Sq Area: </span><%=username.propertysquarearea%></p>
                            <p><span class="spanstyle">Property Facing: </span><%=username.propertyfacing%></p>
                            <p class="customgrid"><span class="spanstyle">Near By:</span>
                                <% username.propertynearby.forEach(function(element) { %>
                                    <p>
                                        <% if(element === "hospital") { %>
                                            <img style="width: 25%;" src="/icon/hospital.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "school") { %>
                                            <img style="width: 25%;" src="/icon/school.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "shoppingmall") { %>
                                            <img style="width: 25%;" src="/icon/shoppingmall.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "carparking") { %>
                                            <img style="width: 25%;" src="/icon/carparking.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "atm") { %>
                                            <img style="width: 25%;" src="/icon/atm.svg" alt="icons">
                                        <% } %>
                                    </p>
                                <% }) %>
                            </p>
                            <p class="customgrid"><span class="spanstyle">Amenities:</span>
                                <% username.propertyamenities.forEach(function(element) { %>
                                    <p>
                                        <% if(element === "lift") { %>
                                            <img style="width: 25%;" src="/icon/lift.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "garden") { %>
                                            <img style="width: 25%;" src="/icon/garden.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "security") { %>
                                            <img style="width: 25%;" src="/icon/security.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "clubhouse") { %>
                                            <img style="width: 25%;" src="/icon/clubhouse.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "gymnasium") { %>
                                            <img style="width: 25%;" src="/icon/gymnasium.svg" alt="icons">
                                        <% } %>
                                    </p>
                                <% }) %>
                            </p>
                            <p class="customgrid"><span class="spanstyle">Furnishing:</span>
                                <% username.propertyfurnishing.forEach(function(element) { %>
                                    <p>
                                        <% if(element === "wardrobe") { %>
                                            <img style="width: 25%;" src="/icon/wardrobe.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "gasconnection") { %>
                                            <img style="width: 25%;" src="/icon/gasconnection.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "dinning") { %>
                                            <img style="width: 25%;" src="/icon/dinning.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "refrigerator") { %>
                                            <img style="width: 25%;" src="/icon/refrigerator.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "bed") { %>
                                            <img style="width: 25%;" src="/icon/bed.svg" alt="icons">
                                        <% } %>
                                    </p>
                                <% }) %>
                            </p>
                            
                            <div class="formsection grid10">
                                <div class="element" style="margin-bottom: 2%;">
                                    <form class="formsection">
                                        <div class="elementbtn">
                                            <button type="submit" formaction="/deleteproperty" formmethod="POST" style="width: 25%; margin-bottom: -5%;" onfocus="alertify.confirm('Delete', 'Are you sure to delete this property then it cannot be restore back', function(){ alertify.error('Click One More Time') }, function(){ alertify.error('Cancel')});">Delete Property</button>
                                            <button type="submit" formaction="/soldproperty" formmethod="POST" style="width: 25%;" onfocus="alertify.confirm('Sold', 'Wow your property is sold now this property is not gone seen any every on website', function(){ alertify.error('Click One More Time') }, function(){ alertify.error('Cancel')});">Wow Sold</button>
                                            <input type="text" name="refid" class="inputvis" value=<%=username._id%>>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <br>
                        <% }) %>
                    </div>
                    <h4>Lease <span><img src="/icon/deal.svg" alt="deal logo"></span></h4>
                    <div class="mainleasegrid">
                        <% leasesaleobj.leaseproperty.forEach(function(username){ %> 
                        <div class="leasegrid">
                            <p class="grid0"><img src='/uploads/<%=username.propertyimage%>' onerror="this.onerror=null; this.src='/image/default2.jfif'" alt="image upload"></p>
                            <p><span class="spanstyle">Name: </span><%=username.personname%></p>
                            <p><span class="spanstyle">Phone number: </span><%=username.personnumber%></p>
                            <p><span class="spanstyle">Property Type: </span><%=username.typeproperty%></p>
                            <p><span class="spanstyle">Property Name: </span><%=username.propertyname%></p>
                            <p><span class="spanstyle">Property Address: </span><%=username.propertynumber%>,
                                <%=username.propertyfloor%> floor,
                                <%=username.propertyname%>,
                                <%=username.propertyarea%>,
                                <%=username.propertycity%>,
                                <%=username.propertystate%>,
                                <%=username.propertypincode%>.
                            </p>
                            <p><span class="spanstyle">Budget: </span><%=username.propertybudget%> Thousands.</p>
                            <p><span class="spanstyle">Rera Approved: </span><%=username.propertyreraapproved%></p>
                            <p><span class="spanstyle">Security Deposit: </span><%=username.propertysecuritydeposit%></p>
                            <p><span class="spanstyle">Preference: </span><%=username.propertypreference%></p>
                            <p><span class="spanstyle">Property Age: </span><%=username.propertyage%></p> 
                            <p><span class="spanstyle">Negotaiation: </span><%=username.propertynegotiation%></p> 
                            <p><span class="spanstyle">Number Of Rooms: </span><%=username.propertynumberrooms%></p> 
                            <p><span class="spanstyle">Number Of Bathrooms: </span><%=username.propertynumberbathrooms%></p> 
                            <p><span class="spanstyle">Property Sq Area: </span><%=username.propertysquarearea%></p>
                            <p><span class="spanstyle">Property Facing: </span><%=username.propertyfacing%></p>
                            <p class="customgrid"><span class="spanstyle">Near By:</span>
                                <% username.propertynearby.forEach(function(element) { %>
                                    <p>
                                        <% if(element === "hospital") { %>
                                            <img style="width: 25%;" src="/icon/hospital.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "school") { %>
                                            <img style="width: 25%;" src="/icon/school.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "shoppingmall") { %>
                                            <img style="width: 25%;" src="/icon/shoppingmall.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "carparking") { %>
                                            <img style="width: 25%;" src="/icon/carparking.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "atm") { %>
                                            <img style="width: 25%;" src="/icon/atm.svg" alt="icons">
                                        <% } %>
                                    </p>
                                <% }) %>
                            </p>
                            <p class="customgrid"><span class="spanstyle">Amenities:</span>
                                <% username.propertyamenities.forEach(function(element) { %>
                                    <p>
                                        <% if(element === "lift") { %>
                                            <img style="width: 25%;" src="/icon/lift.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "garden") { %>
                                            <img style="width: 25%;" src="/icon/garden.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "security") { %>
                                            <img style="width: 25%;" src="/icon/security.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "clubhouse") { %>
                                            <img style="width: 25%;" src="/icon/clubhouse.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "gymnasium") { %>
                                            <img style="width: 25%;" src="/icon/gymnasium.svg" alt="icons">
                                        <% } %>
                                    </p>
                                <% }) %>
                            </p>
                            <p class="customgrid"><span class="spanstyle">Furnishing:</span>
                                <% username.propertyfurnishing.forEach(function(element) { %>
                                    <p>
                                        <% if(element === "wardrobe") { %>
                                            <img style="width: 25%;" src="/icon/wardrobe.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "gasconnection") { %>
                                            <img style="width: 25%;" src="/icon/gasconnection.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "dinning") { %>
                                            <img style="width: 25%;" src="/icon/dinning.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "refrigerator") { %>
                                            <img style="width: 25%;" src="/icon/refrigerator.svg" alt="icons">
                                        <% } %>
                                        <% if(element === "bed") { %>
                                            <img style="width: 25%;" src="/icon/bed.svg" alt="icons">
                                        <% } %>
                                    </p>
                                <% }) %>
                            </p>

                            <div class="formsection grid10">
                                <div class="element" style="margin-bottom: 2%;">
                                    <form class="formsection">
                                        <div class="elementbtn">
                                            <button type="submit" formaction="/deletepropertylease" formmethod="POST" style="width: 25%; margin-bottom: -5%;" onfocus="alertify.confirm('Delete', 'Are you sure to delete this property then it cannot be restore back', function(){ alertify.error('Click One More Time') }, function(){ alertify.error('Cancel')});">Delete Property</button>
                                            <button type="submit" formaction="/soldpropertylease" formmethod="POST" style="width: 25%;" onfocus="alertify.confirm('Lease', 'Wow your property is lease now this property is not gone seen any every on website', function(){ alertify.error('Click One More Time') }, function(){ alertify.error('Cancel')});">Wow Lease</button>
                                            <input type="text" name="refid" class="inputvis" value=<%=username._id%>>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <br>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include("bar") -%>
<%- include("footer") -%>
